.footer
  position: relative
  background-color: #FFFFFF
  margin-top: 100px
  & .container
    border-top: 1px solid #f8f6f3
    padding: 100px 15px 92px
  &__copyright
      font-weight: 300
      margin-top: 1em
      text-align: center
