.section
  position: relative
  width: 100%
  &__title
    text-align: center
    margin-bottom: 70px
    @media(max-width: 575px)
      margin-bottom: 25px
  &_promo
    background-color: #f6f6f6
    height: 502px
    @media(max-width: 575px)
      background-color: #faf8f5
      padding: 30px 0 0
    & .container
      background-image: url(../img/main_promo.jpg)
      background-position: center center
      background-repeat: no-repeat
      background-size: cover
      height: 100%;
    @media(max-width: 575px)
      height: auto
      & .container
        background-image: none
        &_flex
          display: block
      & .ttl_promo
        font-size: 3rem
    & .btn-box
      margin-top: 12px
      @media(max-width: 575px)
        margin-top: 30px
        width: 100%
        & .btn
          text-align: center
          width: 100%
          & + .btn
            margin-top: 10px
            margin-left: 0
    & .msg
      position: absolute
      background-color: rgba(255, 255, 255, .8)
      border-radius: 15px
      color: #4a4743
      font-size: 1.4rem
      line-height: 2.2rem
      padding: 25px 30px
      & > div
        position: relative
        & .insta
          position: absolute
          top: -50px
          left: -55px
          background: url('../img/icons/insta-icon.svg') 0 0 no-repeat
          width: 50px
          height: 50px
      &_1
        top: 44px
        left: 0
        width: 188px
      &_2
        top: 80px
        right: 15px
        width: 248px
      &_3
        top: 287px
        left: 25px
        width: 190px
      &_4
        top: 312px
        right: 65px
        width: 202px
    &:after
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #f6f6f6)
      content: ''
      position: absolute
      top: 0
      right: 0
      height: 100%
      width: 100px
      @media(max-width: 575px)
        display: none
  &_services
    padding: 50px 0 25px
  &_team
    padding: 25px 0 50px
  &_video
    background-color: #faf8f5
    padding: 50px 0 25px
    & .container
      padding: 0 50px
  &_how-to-work
    background-color: #faf8f5
    padding: 25px 0 25px
    z-index: 11
    & .col:hover
      z-index: 10
    &_list
      padding-top: 50px
      padding-bottom: 150px
      z-index: 9
    & .container
      padding: 0 50px
    & .section__title
      margin-bottom: 20px
  &_feedback
    margin-top: -150px
    z-index: 15
    @media(max-width: 575px)
      background-image: linear-gradient(300deg, #c8a77c 100%, #dfbf94 21%)
      margin-top: -120px 
  &_profilacticum
    padding-top: 85px
    padding-bottom: 50px
    @media(max-width: 575px)
      padding-top: 50px
      padding-bottom: 0
  &_instagram
    padding: 25px 0 50px
    @media(max-width: 575px)
      background: url('../img/instagram-bg.png') center center no-repeat
      background-size: cover
      padding: 50px 0 25px
  &_faqs
    padding: 70px 0 40px
    @media(max-width: 575px)
      padding: 50px 0
    & .section__title
      margin-bottom: 40px
  &_partners
    background-color: #faf8f5
    padding: 100px 0
    & .section__title
      margin-bottom: 40px
      & .ttl
        margin-bottom: 10px
      & .subttl
        font-size: 1.6rem
        line-height: 2.5rem
    @media(max-width: 575px)
      padding: 50px 0
  &_statistic
    padding: 50px 0
  &_form
    background-color: #faf8f5
    padding: 50px 0
    text-align: center
    z-index: 10
    &_1
      @media(max-width: 575px)
        padding: 50px 0 0
    &_2
      background-color: #ffffff
    & .section__title
      margin-bottom: 35px
    & .form
      display: inline-block
      & .col
        @media(max-width: 575px)
          margin: 10px 0
      &__btn
        text-align: left
        @media(max-width: 575px)
          text-align: center
      & .ui-input
        @media(max-width: 575px)
          text-align: center
          width: 80%
      & .btn
        @media(max-width: 575px)
          width: 100%
          max-width: 60%
    & .container
      max-width: 780px