.slick-slide
  outline: none
  transition: all ease-in-out .3s
.slick-active, .slick-current
  opacity: 1

.team
  display: flex
  align-items: center
  justify-content: center
  &__item
    display: flex !important
    flex-flow: column
    align-items: center
    justify-content: flex-end
    width: 200px
    height: 200px
    margin: 0
    text-align: center
    & img.default
      display: inline-block
    & img.colorful
      display: none
    &.slick-current
      & img.default
        display: none
      & img.colorful
        display: inline-block


.team-slider
  // width: 970px
  // margin: 0 auto
  &__slider
    height: 300px
    & .slick-list
      display: flex
      flex-flow: column
      justify-content: flex-end
      height: 100%
  &__caption
    position: relative
    text-align: center
    & .label
      color: #4a4743
      font-size: 1.4rem
      line-height: 1.5
    & .ttl
      margin-bottom: 20px
  &__arrows
    display: flex
    position: relative
    align-items: center
    justify-content: center
    margin-top: 45px
    width: 100%
  &__arrow
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    top: 0
    background-color: #f4f1ed
    border: 0
    border-radius: 15px
    cursor: pointer
    padding: 0
    height: 50px
    width: 50px
    outline: none
    z-index: 10
    -webkit-transition: background-color .25s
    -moz-transition: background-color .25s
    transition: background-color .25s
    @media (max-width: 991px)
      margin-top: -145px
    &:before
      content: ''
      display: block
      background: url('../img/icons/arrow-gray.svg') center center no-repeat
      height: 14px 
      width: 14px 
    &_prev
      left: 0
      &:before
        transform: rotate(180deg)
    &_next
      right: 0
