.page.page_content
  .page__header
    .container
      .page__title
        .ttl.ttl_promo Клиника
  .page__body
    .container
      table.tbl.page__table
        tr
          td 
            p Директор
          td
            p Магеря Илья Юрьевич
        tr
          td 
            p График приёма пациентов руководителем медицинской организации
          td
            p Директор &mdash; пн с 13-00 до 15-00
            p Главный врач &mdash; вт с 13-00 до 15-00
            p Запись на приём осуществляется по телефонам <br><a href="tel:+79858911911">8 (985) 8-911-911</a>; <br><a href="tel:+78002008979">8 (800) 200-89-79</a>; <br>через администраторов клиники
        tr
          td
            p Режим и график работы
          td 
            p пн-пт с 8-00 до 22-00, <br>сб-вс с 8-00 до 20-00
        tr
          td
            p Лицензия на осуществление медицинской деятельности
          td 
            p ЛО23-01 №012530 от 12.07.2018
            p 
              a(href="https://magerya.ru/pdf/lic_1.pdf", target="_blank") Файл 1
            p
              a(href="https://magerya.ru/pdf/lic_2.pdf", target="_blank") Файл 2
            p
              a(href="https://magerya.ru/pdf/lic_3.pdf", target="_blank") Файл 3
