.page.page_content
  .page__header
    .container
      .page__title
        .ttl.ttl_promo Контактная информация
  .page__body
    .container
      .ttl.ttl_h2 «ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ МЕДИЦИНСКИЙ ЦЕНТР "КЛИНИКА ГОРМОНАЛЬНОГО ЗДОРОВЬЯ ДОКТОРА МАГЕРЯ"»
      table.tbl.page__table
        tr
          td
            p Дата государственной регистрации
          td.txt-right
            p	19.03.2018
        tr
          td
            p Сведения об учредителе (учредителях) <br>Гражданин РФ Магеря Илья Юрьевич
          td.txt-right
            p Реквизиты: <br>ОГРН 1182375021443 <br>ИНН/КПП 2311255478/231101001  <br>Юридический адрес: 350901, КРАСНОДАРСКИЙ край, ГОРОД КРАСНОДАР, УЛИЦА ИМ 40-ЛЕТИЯ ПОБЕДЫ ДОМ 33/8, КВАРТИРА 263; <br>Почтовый адрес: 350901, Краснодарский край, г. Краснодар, ул. Российская, 70/6; <br>Контактные телефоны: <br><a href="tel: +79858911911">8 (985) 8-911-911</a>; <br><a href="+78002008979">8 (800) 200-89-79</a>; <br>Адреса электронной почты: <a href="mailto:document.magerya@mail.ru">document.magerya@mail.ru</a>; <br><a href="https://goo.gl/maps/c7EuTHKizk62" target="_blank">Схема проезда</a>

