.page.page_content
  .page__header
    .container
      .page__title
        .ttl.ttl_promo Вышестоящие и контролирующие органы
  .page__body
    .container
      .faqs.js-faqs
        ul.faqs__list
          li.faqs__item
            .faqs__title 
              div МИНИСТЕРСТВО ЗДРАВООХРАНЕНИЯ РОССИЙСКОЙ ФЕДЕРАЦИИ
              button.faqs__collapse
            .faqs__content
              p Адрес организации: 127994, ГСП-4, г. Москва, Рахмановский пер, д. 3; <br>«Горячая линия» Росздравнадзора по соблюдению прав граждан в сфере охраны здоровья: 8 800 500 18 35; <br>сайт: <a href="https://www.rosminzdrav.ru" target="_blank">https://www.rosminzdrav.ru</a>.
          li.faqs__item
            .faqs__title 
              div ОРГАН ГОСУДАРСТВЕННОЙ ВЛАСТИ СУБЪЕКТА РОССИЙСКОЙ ФЕДЕРАЦИИ В СФЕРЕ ОХРАНЫ ЗДОРОВЬЯ
              button.faqs__collapse
            .faqs__content
              p Адрес для письменных обращений граждан: 350000, г. Краснодар, ул. Коммунаров, 276; <br>Телефон для обращений граждан: +7 (800) 200-03-66. <br>сайт: <a href="https://www.rosminzdrav.ru" target="_blank">http://www.minzdravkk.ru</a>.
          li.faqs__item
            .faqs__title
              div ФЕДЕРАЛЬНЫЙ ФОНД ОБЯЗАТЕЛЬНОГО МЕДИЦИНСКОГО СТРАХОВАНИЯ
              button.faqs__collapse
            .faqs__content
              p Адрес: 127994, ГСП-4, Москва, ул. Новослободская, 37, корп. 4а; <br>Телефон для регистрации письменных обращений граждан: (495) 870-96-80; <br>Телефон для вопросов, связанных с порядком получения гражданами полиса ОМС и порядком получения медицинского обслуживания по полису ОМС: (495) 870-96-80; <br>сайт: <a href="http://ffoms.ru" target="_blank">http://ffoms.ru</a>.
          li.faqs__item
            .faqs__title
              div ТЕРРИТОРИАЛЬНЫЙ ФОНД ОБЯЗАТЕЛЬНОГО МЕДИЦИНСКОГО СТРАХОВАНИЯ
              button.faqs__collapse
            .faqs__content
              p дрес: 350020, г. Краснодар, ул. Красная, 178; <br>Телефоны: (861) 215-24-62; Факс: (861) 215-24-64; Контакт-центр: 8-800-200-60-50; E-mall: tfomskk@kubanoms.ru; <br>сайт: <a href="http://www.kubanoms.r" target="_blank">http://www.kubanoms.ru</a>.
          li.faqs__item
            .faqs__title
              div ТЕРРИТОРИАЛЬНЫЙ ОРГАН ФЕДЕРАЛЬНОЙ СЛУЖБЫ ПО НАДЗОРУ В СФЕРЕ ЗДРАВООХРАНЕНИЯ
              button.faqs__collapse
            .faqs__content
              p Адрес: 350059, Россия, Краснодарский край, г. Краснодар, ул. Васнецова, 39; <br>Телефон: 8 (861) 201 13 90; <br>сайт: <a href="http://23reg.roszdravnadzor.ru" target="_blank">http://23reg.roszdravnadzor.ru</a>.
          li.faqs__item
            .faqs__title
              div ТЕРРИТОРИАЛЬНЫЙ ОРГАН ФЕДЕРАЛЬНОЙ СЛУЖБЫ ПО НАДЗОРУ В СФЕРЕ ЗАЩИТЫ ПРАВ ПОТРЕБИТЕЛЕЙ И БЛАГОПОЛУЧИЯ ЧЕЛОВЕКА
              button.faqs__collapse
            .faqs__content
              p Адрес: 350000, г. Краснодар, ул. Рашпилевская, д. 100; <br>Телефоны: +7 (861) 259-36-86; Телефон «Горячей линии»: +7 (861) 226-40-74; Телефон пресс-службы: +7 (861) 255-11-37; <br>сайт: <a href="http://23.rospotrebnadzor.ru" target="_blank">http://23.rospotrebnadzor.ru</a>.
          li.faqs__item
            .faqs__title
              div СТРАХОВЫЕ МЕДИЦИНСКИЕ ОРГАНИЗАЦИИ, С КОТОРЫМИ ЗАКЛЮЧЕНЫ ДОГОВОРЫ НА ОКАЗАНИЕ И ОПЛАТУ МЕДИЦИНСКОЙ ПОМОЩИ ПО ОБЯЗАТЕЛЬНОМУ МЕДИЦИНСКОМУ СТРАХОВАНИЮ
              button.faqs__collapse
            .faqs__content
              p не заключены
