.page.page_content
  .page__header
    .container
      .page__title
        .ttl.ttl_promo Документы
  .page__body
    .container
      .faqs
        ul.faqs__list
          li.faqs__item
            .faqs__title
              div
                a(href="https://magerya.ru/pdf/rules_citizens.docx", target="_blank") Права и обязанности граждан в сфере охраны здоровье
          li.faqs__item
            .faqs__title
              div
                a(href="https://magerya.ru/pdf/rules_payment.rtf", target="_blank") Правила предоставления платных медицинких услуг
          li.faqs__item
            .faqs__title
              div
                a(href="https://magerya.ru/pdf/rules_internal.docx", target="_blank") Правила внутреннего распорядка для потребителей услуг
          li.faqs__item
            .faqs__title
              div
                a(href="https://magerya.ru/pdf/main_data_health.rtf", target="_blank") Об основах охраны здоровья граждан в РФ
          li.faqs__item
            .faqs__title
              div
                a(href="https://magerya.ru/img/diploma_1.jpg", target="_blank") Диплом (скачать)
          li.faqs__item
            .faqs__title
              div
                a(href="https://magerya.ru/img/diploma_2.jpg", target="_blank") Удостоверение (скачать)
          li.faqs__item
            .faqs__title
              div
                a(href="https://magerya.ru/img/diploma_3.png", target="_blank") Сертфикат эндокринолога (скачать)
