footer.footer
  .container
    .row
      .col.col-4
        .footer__copyright
      .col.col-8
        .row
          .col.col-6
            .ttl.ttl_h4 Информация
            ul
              li
                a(href="#") Зачатие ребенка
              li
                a(href="#") Мужское здоровье
              li
                a(href="#") Кожные заболевания
              li
                a(href="#") Лицензия и документы клиники
          .col.col-6
            .ttl.ttl_h4 Поддержка
            ul
              li
                a(href="#") 8 (800) 333 3333 <br>(без оплаты)
              li
                a(href="#") 8 (800) 333 3333 <br>(whatsApp, Viber)


script(src="https://code.jquery.com/jquery-2.2.0.min.js")
script(src="js/main.bundle.js")
