footer.footer
  .container
    .footer__wrapper
      .row
        .col.col-3.col-xs-12
          .footer__logo
            img(src="img/logo@2x.png", alt="Magerya.ru: Онлайн клиника гормонального здоровья")
          .footer__copyright
            p 0+ Magerya.ru — клиника для онлайн-консультаций с врачами
            p Онлайн-консультация — это информационная, а не мед. услуга
            p г. Краснодар, ул. Российская, 70/6
        .col.col-8.col-xs-12.offset-left-1.offset-left-1.no-offset
          .row
            .col.col-5.col-xs-12
              .footer__nav
                .footer__nav-title Информация
                ul.footer__nav-list
                  li.footer__nav-item
                    a.footer__nav-link.js-footer-link(href="clinic.html") Клиника
                  li.footer__nav-item
                    a.footer__nav-link.js-footer-link(href="controls.html") Вышестоящие и контролирующие органы
                  li.footer__nav-item
                    a.footer__nav-link.js-footer-link(href="documents.html") Лицензия и документы клиники
                  li.footer__nav-item
                    a.footer__nav-link.js-footer-link(href="contacts.html") Контакты
            .col.col-5.col-xs-12
              .footer__nav
                .footer__nav-title Поддержка
                ul.footer__nav-list
                  li.footer__nav-item
                    a.footer__nav-link(href="tel:+78004443093") 8 (800) 444-30-93 <br>
                    span (звонок бесплатный)
                  li.footer__nav-item
                    a.footer__nav-link(href="tel:+79182971555") 8 (918) 29-71-555 <br>
                    span (
                    a.footer__nav-link(href="https://api.whatsapp.com/send?phone=79182971555", target="_blank") WhatsApp
                    span , Viber)


script(src="https://code.jquery.com/jquery-2.2.0.min.js")
script(src="js/main.bundle.js")
