footer.footer
  .container
    .footer__wrapper
      .row
        .col.col-3.col-xs-12
          .footer__logo
            img(src="img/logo@2x.png", alt="Magerya.ru: Онлайн клиника гормонального здоровья")
          .footer__copyright 0+ Magerya.ru — клиника для онлайн-консультаций с врачами <br>Онлайн-консультация — это информационная, а не мед. услуга 
        .col.col-8.col-xs-12.offset-left-1.offset-left-1.no-offset
          .row
            .col.col-5.col-xs-12
              .footer__nav
                .footer__nav-title Информация
                ul.footer__nav-list
                  li.footer__nav-item
                    a.footer__nav-link(href="https://magerya.ru/doctors") Зачатие ребёнка
                  li.footer__nav-item
                    a.footer__nav-link(href="https://magerya.ru/doctors") Мужское здоровье
                  li.footer__nav-item
                    a.footer__nav-link(href="https://magerya.ru/doctors") Кожные заболевания
                  li.footer__nav-item
                    a.footer__nav-link(href="https://magerya.ru/documents") Лицензия и документы клиники
            .col.col-5.col-xs-12
              .footer__nav
                .footer__nav-title Поддержка
                ul.footer__nav-list
                  li.footer__nav-item
                    a.footer__nav-link(href="tel:+79182971555") 8 (918) 29 71 555 <br>
                    span (
                    a.footer__nav-link(href="https://api.whatsapp.com/send?phone=79182971555", target="_blank") whatsApp
                    span , Viber)


script(src="https://code.jquery.com/jquery-2.2.0.min.js")
script(src="js/main.bundle.js")
