section.section.section_for
  .container.center
    h2.ttl.ttl_h2 Мастер-класс подойдет для:
    .content
      .master-klass
        .master-klass__item
          .master-klass__pic
            img(src="img/ava.png")
          .master-klass__title(data-number="01") Начинающим
          .master-klass__txt Которые хотят продуктивнее развиваться в этом направление
        .master-klass__item
          .master-klass__pic
            img(src="img/ava.png")
          .master-klass__title(data-number="02") Действующим
          .master-klass__txt Увеличить прогресс в развитии
        .master-klass__item
          .master-klass__pic
            img(src="img/ava.png")
          .master-klass__title(data-number="03") Бывалым
          .master-klass__txt Помочь не отставать от трендов