header.header
  .container.container_flex
    .header__item.header__item_logo(href="/")
      a.logo.js-logo(href="/" title="Magerya.ru: Онлайн клиника гормонального здоровья")
        img(src="img/logo@2x.png", alt="Magerya.ru: Онлайн клиника гормонального здоровья")
        .slogan.col-hidden-xs Онлайн клиника гормонального здоровья
    .header__item.header__item_contacts.col-hidden-xs
      div
        .icon-box
          img(src="img/icons/phone.svg", alt="")
      div
        .header__phone
          a(href="tel:+78004443093") 8 (800) 444-30-93 
          span (звонок бесплатный)
        .header__phone
          a(href="tel:+79182971555") 8 (918) 29-71-555 
          span (
          span.gold Viber, WhatsApp
          span )
    .header__item.header__item_auth
      div
        a.btn.btn_link.header__link-sign_in.js-login(href="https://auth.magerya.ru/sign-in") Войти
      div
        a.btn.header__link-sign_up.js-register(href="https://auth.magerya.ru/sign-up") Регистрация