header.header
  .container.container_flex
    .header__item.header__item_logo(href="/")
      a.logo(href="/" title="Magerya.ru: Онлайн клиника гормонального здоровья")
        img(src="img/logo@2x.png", alt="Magerya.ru: Онлайн клиника гормонального здоровья")
        .slogan.col-hidden-xs Онлайн клиника гормонального здоровья
    .header__item.header__item_city.col-hidden-xs
      div
        .icon-box
          img(src="img/icons/city.svg", alt="")
      div
    .header__item.header__item_contacts.col-hidden-xs
      div
        .icon-box
          img(src="img/icons/phone.svg", alt="")
      div
        .header__phone
          a(href="tel:88008779739") 8 (800) 877 97 39 
          span (Без оплаты по РФ)
        .header__phone
          a(href="tel:89628797439") 8 (962) 879 74 39 
          span (
          span.gold Viber, WhatsApp
          span )
    .header__item.header__item_auth
      div
        a.btn.btn_link.header__link-sign_in(href="#") Войти
      div
        a.btn.header__link-sign_up(href="#") Регистрация