section.section.section_hello
  //- img.cover(src="img/cover.png")
  .container.center
    h4.supttl Бесплатный мастер-класс 29 августа в 18:00 (по МСК)
    h1.ttl.ttl_main Как стать крутым фронтером в 2018 года?
    h4.subttl 4 рабочих инструмента, которые помогут быть на высоте
    .bottom
      button.btn.js-modal(type="button")
        span Записаться на мастер-класс