section.section.section_promo
  .container.container_flex
    .row.row_flex
      .col.col-5.col-xs-12
        div
          .ttl.ttl_promo Консультации по гормональному здоровью <span class="gold">онлайн</span> доктора И.Ю. Магеря
          .btn-box
            a.btn(href="https://magerya.ru/doctors")
              i.icon.icon_consultation
              span Виды консультаций
            a.btn.btn_gold(href="https://api.whatsapp.com/send?phone=79182971555" target="_blank")
              i.icon.icon_phone-white
              span Связаться с нами
      .col.col-7.col-xs-12.promo-msg
        .promo-img
          img(src="./img/main_promo_xs.jpg")
        .msg-list
          .msg-list__inner
            .msg.msg_1 Врач эксперт 1-ого канала в передаче «<span class="gold">доброе утро</span>»
            .msg.msg_2 
              div
                .insta
                div Илья Магеря, известный эндокринолог #1 в области создания благоприятных условий для зачатия и вынашивания ребёнка
            .msg.msg_3 Создатель фонда студентов <span class="gold">M-students</span>
            .msg.msg_4 Автор приложений <a href="#" target="_blank">Мамагеря</a> и <a href="#" target="_blank">Профилактикум</a>

section.section.section_services
  .container
    .section__title
      h2.ttl.ttl_h2 Список заболеваний, которые <br><span class="gold">мы помогаем решить</span>
    .row
      .col.col-3.col-sm-6.col-hidden-xs
        .service
          .service__picture
            img(src="img/services/svc-1@2x.jpg")
          .service__readmore
            button(type="button")
          .service__title Кожные <br>заболевания
      .col.col-6.col-sm-6.col-xs-12
        .service
          .service__picture
            .tag
              span Экспертная область
            img(src="img/services/svc-2@2x.jpg")
          .service__readmore
            button(type="button")
          .service__title Консультация в области зачатие, вынашивание <br>и рождение здорового ребенка
      .col.col-3.col-sm-6.col-xs-12.col-hidden.col-show-xs
        .service
          .service__picture
            img(src="img/services/svc-1@2x.jpg")
          .service__readmore
            button(type="button")
          .service__title Кожные <br>заболевания
      .col.col-3.col-sm-6.col-xs-12
        .service
          .service__picture
            img(src="img/services/svc-3@2x.jpg")
          .service__readmore
            button(type="button")
          .service__title Энергия
    .row
      .col.col-3.col-sm-6.col-xs-12
        .service
          .service__picture
            img(src="img/services/svc-4@2x.jpg")
          .service__readmore
            button(type="button")
          .service__title Гормональный <br>фон
      .col.col-3.col-sm-6.col-xs-12
        .service
          .service__picture
            img(src="img/services/svc-5@2x.jpg")
          .service__readmore
            button(type="button")
          .service__title Качество <br>сна
      .col.col-3.col-sm-6.col-xs-12
        .service
          .service__picture
            img(src="img/services/svc-6@2x.jpg")
          .service__readmore
            button(type="button")
          .service__title Коррекция <br>веса
      .col.col-3.col-sm-6.col-xs-12
        .service
          .service__picture
            img(src="img/services/svc-7@2x.jpg")
          .service__readmore
            button(type="button")
          .service__title Психо-эмоциональное <br>состояние
    //- .row.loadmore
    //-   .col.col-12.txt-center
    //-     a.btn.btn_gold(href="#") Показать всё

section.section.section_team
  .container
    .section__title
      h2.ttl.ttl_h2 Наша команда
    .team-slider
      .team-slider__slider
        .team__item(data-name="Даниил Горенко", data-post="Руководитель IT")
          div
            img.default(src="img/team/team1.png")
            img.colorful(src="img/team/colorful/team1.png")
        .team__item(data-name="Сергей Корнеев", data-post="Уролог-андролог", data-link="page_2.html")
          div
            img.default(src="img/team/team2.png")
            img.colorful(src="img/team/colorful/team2.png")
        .team__item(data-name="Илья Магеря", data-post="Врач-эндокринолог", data-link="page_2.html")
          div
            img.default(src="img/team/team3.png")
            img.colorful(src="img/team/colorful/team3.png")
        .team__item(data-name="Валентина Магеря", data-post="Заместитель директора")
          div
            img.default(src="img/team/team4.png")
            img.colorful(src="img/team/colorful/team4.png")
        .team__item(data-name="Светлана Моисеева", data-post="Администратор")
          div
            img.default(src="img/team/team5.png")
            img.colorful(src="img/team/colorful/team5.png")
      .team-slider__arrows
        .team-slider__caption
          .label Врач-эндокринолог
          .ttl.ttl_h3 Илья Магеря
          a.btn.btn_gold.btn_more(href="")
            span Подробнее 
            i.icon.icon_arrow
        button.team-slider__arrow.team-slider__arrow_prev
        button.team-slider__arrow.team-slider__arrow_next

section.section.section_video
  .container
    .section__title
      h2.ttl.ttl_h2 Видео с нами
    .row 
      .col.col-4.col-sm-12.col-xs-12
        .video-list__item
          .video__frame(style="background-image: url('./img/yt1.png')")
            .video__play
              button.btn.btn_gold.btn_play
          .video__title
            .video__channel
            div
              div.ttl.ttl_h4 Доброе утро. Фрагмент выпуска от 17.09.2019
              a(href="https://www.1tv.ru/-/gfsux" target="_blank") https://www.1tv.ru/-/gfsux
      .col.col-4.col-sm-12.col-xs-12
        .video-list__item
          .video__frame(style="background-image: url('./img/yt2.png')")
            .video__play
              button.btn.btn_gold.btn_play
          .video__title
            .video__channel
            div
              div.ttl.ttl_h4 Ожирение. Правильное питание
              a(href="https://www.1tv.ru/-/gfsux" target="_blank") https://www.1tv.ru/-/gfsux
      .col.col-4.col-sm-12.col-xs-12
        .video-list__item
          .video__frame(style="background-image: url('./img/yt3.png')")
            .video__play
              button.btn.btn_gold.btn_play
          .video__title
            .video__channel
            div
              div.ttl.ttl_h4 Территория успеха: Илья Магеря
              a(href="https://www.1tv.ru/-/gfsux" target="_blank") https://www.1tv.ru/-/gfsux
    //- блок с ссылкой на канал  youtube
    .row.video__youtube.col-hidden-xs
      .col.col-12
        .youtube
          a(href="https://www.youtube.com/channel/UCDnwGXhLxtYImyzn0_3NiTA")
            img(src="./img/youtube-bg@2x.png")

section.section.section_how-to-work
  .container
    .section__title
      h2.ttl.ttl_h2 Как это работает
      .subttl Смотрите в последовательности от регистрации до консультации у врача
    .row
      .col.col-4.col-sm-6.col-xs-12
        .step
          .step__wrap
            .step__icon
              div
                img(src="./img/steps/login.svg")
            .step__ttl.ttl.ttl_h4 Простая регистрация
            .txt Вы мгновенно имеете доступ к услугам, получив код подтверждения на свой номер телефона!
      .col.col-4.col-sm-6.col-xs-12
        .step
          .step__wrap
            .step__icon
              div
                img(src="./img/steps/credit-card.svg")
            .step__ttl.ttl.ttl_h4 Оплата консультации
            .txt Нажмите на кнопку «Записаться на консультацию» и выберите подходящий формат услуги. Для оплаты Вы будете перенаправлены <div class="txt-hidden">на платёжный шлюз ПАО «Сбербанк» для ввода реквизитов Вашей карты. Пожалуйста, оставьте поле «код купона» чистым. В случае возникновения трудностей при оплате напишите нашему Администратору в WhatsApp +7 (985) 8-911-911 или позвоните по номеру 8 (800) 200-89-79 (бесплатно по России).</div>
      .col.col-4.col-sm-6.col-xs-12
        .step
          .step__wrap
            .step__icon
              div
                img(src="./img/steps/contract.svg")
            .step__ttl.ttl.ttl_h4 Заполнение анкеты
            .txt Вам будет предложено заполнить анкету здоровья первичного приема. После заполнения анкеты первичного приема необходимо <div class="txt-hidden">(при наличии) прикрепить результаты прошлых исследований/анализов в чат с помощью скрепки в левой нижней части панели.</div>
    .row
      .col.col-4.col-sm-6.col-xs-12
        .step
          .step__wrap
            .step__icon
              div
                img(src="./img/steps/graph.svg")
            .step__ttl.ttl.ttl_h4 Анализ истории болезни
            .txt Доктор знакомится с Вашей анкетой и анализами в течение 2-х рабочих суток, не считая дня заполнения анкеты, с момента их получения <div class="txt-hidden">(при наличии) прикрепить результаты прошлых исследований/анализов в чат с помощью скрепки в левой нижней части панели.</div>
      .col.col-4.col-sm-6.col-xs-12
        .step
          .step__wrap
            .step__icon
              div
                img(src="./img/steps/event.svg")
            .step__ttl.ttl.ttl_h4 Дата консультации
            .txt После получения всех необходимых результатов первичных/повторных анализов и/или дополнительных обследований <div class="txt-hidden">назначается дата консультации в соответствии с выбранным Вами форматом консультации. Консультация имеет два типа: Письменные рекомендации доктора (стандартная или ускоренная консультация); При стандартной консультации (первичной или повторной) прием осуществляется в пределах 10 рабочих дней с момента получения всех результатов анализов пациента, не считая дня получения всех результатов анализов и обследований, назначенные доктором. При ускоренной консультации (первичной или повторной) прием осуществляется в течение 2 –х рабочих суток с момента получения всех результатов анализов от пациента. Звонок-консультация так же осуществляется в течение 2-х рабочих суток с момента получения всех результатов анализов, не считая дня получения всех результатов анализов и обследований.</div>
      .col.col-4.col-sm-6.col-xs-12
        .step
          .step__wrap
            .step__icon
              div
                img(src="./img/steps/doctor.svg")
            .step__ttl.ttl.ttl_h4 Прием у врача
            .txt Письменные рекомендации. В назначенный день доктор направляет письменные рекомендации в развернутом виде. <div class="txt-hidden">При получении письменных рекомендаций пациент имеет право задавать любые интересующие вопросы по состоянию своего здоровья, в том числе по назначенному лечению, дозировкам препаратов и тд. Звонок-консультация. В назначенное время Доктор звонит на указанный номер телефона и разъясняет о состоянии Вашего здоровья, после чего высылает развернутые рекомендации в виде сообщения. Если в назначенное время Вы не вышли на связь, то звонок-консультация переносится на другое время, но не ранее, чем через два рабочих дня. Если и эта консультация не состоится, то Вы получаете письменные рекомендации в виде текстового сообщения в личный кабинет пациента. Обращаем Ваше внимание, что не зависимо от формата консультации, Вы получаете медицинское сопровождение доктора. Вы можете задавать любые вопросы, касающиеся назначенного лечения и Вашего самочувствия в течение месяца, с момента получения рекомендаций доктора.</div>
    //- .row.loadmore
    //-   .col.col-12.txt-center
    //-     a.btn.btn_gold(href="#") Скачать инструкцию

section.section.section_how-to-work.section_how-to-work_list
  .container
    .item
      .col-5.col-sm-12.col-xs-12
        .ttl.ttl_h3 Подход к лечению
        .txt
          p Ведущую роль в восстановлении и поддержании своих пацеентов, клиника уделяет <b>микро и макро элементам</b> позволяющим восстановить биохимические и гормональные показатели.
          p А если этого бывает недостаточно, в ряде случаев, подключается <b>лекарственная</b> и <b>гармозаместительная</b> терапия. На основании биохимических показателей крови врач дает индивидуальные рекомендации по сбалансированному питанию, физической нагрузке, гигиене, витаминотерапии и образу жизни.
      .img
        .img-icon
          img(src="./img/icons/doctor-icon.svg")
        img(src="./img/doctor@2x.jpg")
    .item
      .col-5.col-sm-12.col-xs-12
        .ttl.ttl_h3 30 дней сопровождения
        .txt
          p На протяжении 30 дней после получения рекомендаций, <b>врач отвечает на все вопросы пациентов</b>, для пациентов забеременневших в ходе или после консультации дается 60 дней и более активной наблюдение.
      .img
        .img-icon
          img(src="./img/icons/30-days-icon.svg")
        img(src="./img/30-days@2x.jpg")
    .item
      .col-5.col-sm-12.col-xs-12
        .ttl.ttl_h3 Расширенные рекомендации
        .txt
          p Вы получаете подробные инструкции с видео объяснением выявленных факторов рисков по вашему здоровью.  Индивидуальную программу питания. Программу витаминотерапии и набор физических упражнений.
      .img
        .img-icon
          img(src="./img/icons/heart-icon.svg")
        img(src="./img/profile@2x.jpg")
    .item
      .col-5.col-sm-12.col-xs-12
        .ttl.ttl_h3 Без очередей
        .txt
          p Услуга предполагает собой удобный онлайн формат в чате в личном кабинете пациента на сайте или в мобильном приложении. Подробные рекомендации включает в себя видео с объяснениями факторов риска, комментарии по анализам, ссылки на препараты, программу сбалансированного питания, упражнения.
          p Все данные надежно защещены и хранятся в доступной для клиента медицинской карте со всеми рекомендациями и динамикой сданых анализов.
      .img
        .img-icon
          img(src="./img/icons/online-icon.svg")
        img(src="./img/online@2x.jpg")

section.section.section_feedback
  .container
    .feedback__wrapper
      .col-9.col-xs-12.feedback
        .feedback__avatar.col-hidden-xs
          img(src="./img/photo-svetlana@2x.png")
        .feedback__content
          .ttl.ttl_h3 Моисеева Светлана <br>ответит на ваши вопросы
          .subttl Запишитесь на консультацию, мы вам перезвоним в течении часа.
          .feedback__btn-box
            a.btn(href="tel:+79182971555", target="_black") Позвонить сейчас
            a.btn(href="https://api.whatsapp.com/send?phone=79182971555", target="_black") Написать в WhatsApp

section.section.section_profilacticum
  .container
    .row
      .col.col-12
        .item.item_profilacticum
          .col-5.col-xs-12
            .ttl.ttl_h3 Консультация без оплаты
            .txt
              p Наша клиника разработала мобильное приложение, которое анализирует биометрические и биохимичские показатели крови и умееть выявлять факторы риска по каждому анализу , давать рекомендации по питанию, физическим нагрузками и предлагать витаминотерапия для коррекции покатезей при лекгих паталогиях. Сайт приложения <a href="http://www.profilaktikum.com" target="_blank">profilaktikum.com</a>
              p Карманный эндокринолог по ссылке ниже:
              .btn-box
                a(href="https://apps.apple.com/ru/app/профилактикум/id1468247536", target="_black")
                  img(src="./img/appstore.png")
                a(href="https://play.google.com/store/apps/details?id=com.magerya.profilaktikum", target="_black")
                  img(src="./img/google-play.png")
          .img.col-hidden-xs
            img(src="./img/app@2x.png")

section.section.section_instagram
  .container
    .instagram__wrapper
      .col-10.col-xs-12.instagram
        .instagram__content
          .ttl.ttl_h3 Благотворительные консультации
          .subttl Благотворительные консультации каждый <br>вторник в прямом эфире instagram
          a(href="https://www.instagram.com/magerya_endocrinolog_/", target="_black")
            .instagram__btn-box
              img(src="./img/inst/instagram-button@2x.png")
        .insta-pic.insta-pic_1
          img(src="./img/inst/inst-4@2x.png")
        .insta-pic.insta-pic_2
          img(src="./img/inst/inst-3@2x.png")
        .insta-pic.insta-pic_3
          img(src="./img/inst/inst-2@2x.png")

section.section.section_faqs
  .container
    .section__title
      h2.ttl.ttl_h2 Нас часто спрашивают
    .row
      .col.col-12
        .faqs.js-faqs
          ul.faqs__list
            li.faqs__item
              .faqs__title 
                div Как проходит первичная консультация? Нужно ли повторно оплачивать после предоставления анализов?
                button.faqs__collapse
              .faqs__content
                p Онлайн-консультация включает в себя целый набор услуг:
                ol.items-list(type="1")
                  li <b>Сбор анамнеза.</b> Доктор изучает заполненную Вами анкету здоровья: основные жалобы, информация о текущих и перенесенных заболеваниях. Очень важно указать ЦЕЛЬ обращения – т.е. желаемое состояние. К анкете возможно приложить имеющиеся результаты исследований (по желанию).
                  li <b>Назначение анализов.</b> На основании Ваших жалоб и ожидаемых результатов от взаимодействия, доктор назначает необходимые для сдачи анализы.
                  li <b>Индивидуальные подробные инструкции по восстановлению здоровья.</b> В назначенную дату состоится консультация в соответствии с выбранным Вами форматом – письменные инструкции или звонок-консультация. <i> Рекомендации входят в стоимость оплаченной консультации, повторной оплаты не требуется.</i>
                  li <b>Медицинское сопровождение.</b> Безусловным преимуществом нашей клиники является медицинское сопровождение – это ответы доктора на Ваши вопросы. 30 дней для Стандартной и Ускоренной консультации/60 дней для Звонка-консультации.
            li.faqs__item
              .faqs__title
                div Как проходит повторная консультация?
                button.faqs__collapse
              .faqs__content
                p Алгоритм получения повторной консультации точно такой же, как и при первичном обращении. Повторная консультация назначается через 6-8 недель после первичного обращения.
            li.faqs__item
              .faqs__title
                div Сколько стоит онлайн-консультация?
                button.faqs__collapse
              .faqs__content
                p В нашей клинике 3 вида консультаций:
                ol.items-list(type="1")
                  li <b>Стандартная – 8.000 рублей.</b> Это письменные рекомендации от доктора, которые Вы получаете в течение 10 рабочих суток с момента получения доктором результатов всех сданных Вами анализов.
                  li <b>Ускоренная – 12.000 рублей.</b> Это тоже письменные рекомендации, но в срок значительно быстрее – в течение 2х суток с момента получения Ваших результатов анализов доктор направит инструкции по восстановлению Вашего здоровья. Это консультация включает в себя ускоренные ответы Ильи Юрьевича на Ваши вопросы.
                  li <b>Звонок-консультация – 24.000 рублей.</b> Это разговор с Ильей Юрьевичем по телефону. В рамках этой консультации доктор расскажет о состоянии Вашего организма, подробно объяснит каждый сданный анализ и распишет лечение. В рамках этой консультации доктор рассмотрит возможные психосоматические причины Вашего заболевания. Вы сможете задать все интересующие Вас вопросы в формате диалога.
                p В каждую консультацию включено медицинское сопровождение в чате с доктором в течение 30 дней для Стандартной и Ускоренной консультации и 60 дней для Звонка-консультации.
            li.faqs__item
              .faqs__title
                div Как долго ждать ответ от доктора?
                button.faqs__collapse
              .faqs__content
                p <b>Изучение доктором анкеты здоровья:</b>
                p Илья Юрьевич знакомится с заполненной Вами анкетой течение 2х рабочих суток, не считая дня отправки анкеты.
                p <b>Назначение консультации:</b>
                ol.items-list(type="1")
                  li Стандартная – консультация состоится в пределах 10 рабочих дней после получения результатов всех назначенных анализов, не считая дня их отправки (суббота/воскресенье выходные дни).
                  li Ускоренная – консультация состоится в пределах 2-х рабочих дней после получения результатов всех назначенных анализов, не считая дня их отправки (суббота/воскресенье выходные дни).
                  li Звонок-консультация – консультация состоится в пределах 2-х рабочих дней после получения результатов всех назначенных анализов, не считая дня их отправки (суббота/воскресенье выходные дни).
                p Ответы доктора на вопросы:
                ol.items-list(type="1")
                  li Стандартная – ожидание ответов на Ваши вопросы может занять до 10 рабочих суток.
                  li Ускоренная – ускоренные ответы на Ваши вопросы. Ожидание ответа до 2-х рабочих суток.
                  li Звонок-консультация – ускоренные ответы на Ваши вопросы. Ожидание ответа до 2-х рабочих суток.
            li.faqs__item
              .faqs__title
                div Какие методы лечения используются в Клинике?
                button.faqs__collapse
              .faqs__content
                p Доктор корректирует работу гормональной системы благодаря питанию, витаминам и медикаментам. А во время звонка-консультации обращает внимание на психосоматическую причину возникновения заболеваний.
            li.faqs__item
              .faqs__title
                div Можно ли быть уверенным в конфиденциальности данных?
                button.faqs__collapse
              .faqs__content
                p Для нас предельна важна конфиденциальность личных данных наших пациентов, поэтому на сайте существует многоуровневая степень защиты. Наши серверы надёжно защищены. Ваши личные данные являются строго конфиденциальными.
            li.faqs__item
              .faqs__title
                div В каком городе принимает доктор? Я хочу на личный приём.
                button.faqs__collapse
              .faqs__content
                p Нам важно быть доступными для всех пациентов, которым нужна помощь. Именно поэтому Илья Юрьевич выбрал формат онлайн-консультирования, который позволяет:
                ol.items-list(type="1")
                  li Получить квалифицированную помощь с любого устройства, дома или на работе, с любой точки земного шара.
                  li Позволяет избежать вопросов от коллег или знакомых о цели визита в клинику.
                  li Экономия времени:
                    ul
                      li – как минимум 1,5 часа по сравнению с необходимостью личного визита, с учетом времени на передвижение
                      li – не нужно заранее планировать время общения с доктором, подстраиваться под часы приема
                  li Финансовая выгода. минимум 3 консультации включены в период сопровождения: сбор анамнеза (изучение Анкеты доктором), изучение результатов исследований и рекомендации от доктора, общение с доктором в чате в течение месяца по вопросам здоровья.
                  li Позволяет получить не одноразовые рекомендации, а онлайн сопровождение в течение месяца, что важно при начале любого лечения (приема препаратов). Таким образом, у Вас будет несколько консультаций в течение месяца, по Вашему состоянию в процессе приема препаратов.
                  li Сохранение электронной переписки с доктором, для контроля своего лечения. есть возможность задать все вопросы в течение срока сопровождения.
            li.faqs__item
              .faqs__title
                div Какие анализы нужно сдать предварительно?
                button.faqs__collapse
              .faqs__content
                p Назначение анализов входит в стоимость консультации, поэтому нет необходимости сдавать их заранее. Если у Вас есть результаты анализов, которые Вы сдавали не позднее 2 месяцев назад и УЗИ не позднее 8 месяцев назад, можете приложить их к заполненной анкете.
            li.faqs__item
              .faqs__title
                div Как оплатить?
                button.faqs__collapse
              .faqs__content
                p После выбора вида консультации, Вы автоматически попадёте на страницу оплаты услуг.
                ol.items-list(type="1")
                  li Оплата производится на сайте magerya.ru через платежный шлюз ПАО «Сбербанк». Оплата принимается с любых карт территории РФ.
                  li Выставление счета на оплату по полным реквизитам расчетного счета клиники - граждане Украины, Казахстана, в связи с невозможностью оплаты картой. Для выставления счёта обратитесь к администраторам клиники.
                  li Оплата на PayPal - пациенты стран Европы, Америки, Азии, у которых нет возможности оплаты по полным реквизитам.
            li.faqs__item
              .faqs__title
                div Вы делаете скидки?
                button.faqs__collapse
              .faqs__content
                p В нашей клиники предусмотрена <a href="/affiliatetos" target="_blank">реферальная система</a> скидок:
                ol.items-list(type="1")
                  li Скопируйте свой персональный реферальный код в Вашем личном кабинете на сайте.
                  li Делитесь им с Вашими близкими и друзьями. Каждому указавшему при регистрации на сайте Ваш реферальный код, будут начислены 400 приветственных баллов (реферальный код необходимо ввести при регистрации на сайте).
                  li Получите своё вознаграждение за активность - 4000 баллов за каждого 2-го приглашенного пользователя, оплатившего консультацию. В личном кабинете Вы сможете видеть, кто из Ваших рефералов активировал консультацию.
                p <sub>*</sub>Оплачивайте консультацию баллами! <b>1 балл = 1 рубль</b>
                p Если Вы накопите 8.000, 12.000 или 24.000 баллов, то сможете оплатить ими 100% стоимости консультации.
            li.faqs__item
              .faqs__title
                div Что такое медицинское сопровождение?
                button.faqs__collapse
              .faqs__content
                p Безусловным преимуществом нашей клиники является медицинское сопровождение – это ответы доктора на Ваши вопросы (30 дней для стандартной и ускоренной консультации/60 дней для звонка-консультации). Ни для кого ни секрет, что когда мы начинаем прием препаратов, возможны изменения, о которых хочется сообщить или спросить доктора. Благодаря медицинскому сопровождению у Вас есть такая возможность.

section.section.section_partners
  .container
    .section__title
      h2.ttl.ttl_h2 Бланки-направления со скидками
      .subttl При направлении из нашей клиники в дружественные лаборатории расположенные <br>по всей России, вы получите <b>скидку от 10% до 20%</b>
    .lab-list
      .lab
        img(src="./img/partners/gemotest.png")
      .lab
        img(src="./img/partners/medlife.png")
      .lab
        img(src="./img/partners/arhimed.png")
      .lab
        img(src="./img/partners/invitro.png")

section.section.section_statistic
  .container
    .stats-wrapper
      .stats-wrapper__item
        .stats
          .stats__item
            .stats__head
              .stats__number 880
              .stats__subttl Беременных
            .stats__bar
              .bar
                .bar__progress.bar__progress_1
                .bar__label за 2018 год
          .stats__item
            .stats__head
              .stats__number 1130
              .stats__subttl Беременных
            .stats__bar
              .bar
                .bar__progress.bar__progress_2
                .bar__label за 2019 год
          .stats__item
            .stats__head
              .stats__number 252
              .stats__subttl Беременных
            .stats__bar
              .bar
                .bar__progress.bar__progress_3
                .bar__label за 2020 год
      .stats-wrapper__item.stats-wrapper__item_map
        div
          .stats__item
            .stats__head
              .stats__number 45
              .stats__subttl Стран в которых есть <br>наши пациенты
          .stats__item
            .stats__head
              .stats__number 2
              .stats__subttl Мобильных приложений <br>в топ-чартах Apple & Google store
