section.section.section_promo
  .container.container_flex
    .row.row_flex
      .col.col-5
        div
          .ttl.ttl_promo Консультации по гормональному здоровью <span class="gold">онлайн</span> доктора И.Ю. Магеря
          .btn-box
            a.btn(href="#")
              i.icon.icon_consultation
              span Виды консультаций
            a.btn.btn_gold(href="#")
              i.icon.icon_phone-white
              span Связаться с нами
      .col.col-7
        .msg.msg_1 Врач эксперт 1-ого канала в передаче «<span class="gold">доброе утро</span>»
        .msg.msg_2 
          div
            .insta
            div Илья Магеря, известный эндокринолог #1 в области создания благоприятных условий для зачатия и вынашивания ребёнка
        .msg.msg_3 Создатель фонда студентов <span class="gold">M-students</span>
        .msg.msg_4 Автор приложений <a href="#" target="_blank">Мамагеря</a> и <a href="#" target="_blank">Профилактикум</a>

section.section.section_services
  .container
    .section__title
      h2.ttl.ttl_h2 Список заболеваний, которые <br><span class="gold">мы помогаем решить</span>
    .row
      .col.col-3
        a(href="#")
          .service
            .service__picture
              img(src="img/services/svc-1@2x.jpg")
            .service__readmore
              button(type="button")
            .service__title Кожные <br>заболевания

      .col.col-6
        a(href="#")
          .service
            .service__picture
              img(src="img/services/svc-2@2x.jpg")
            .service__readmore
              button(type="button")
            .service__title Консультация в области зачатие, вынашивание <br>и рождение здорового ребенка
      .col.col-3
        a(href="#")
          .service
            .service__picture
              img(src="img/services/svc-3@2x.jpg")
            .service__readmore
              button(type="button")
            .service__title Энергия
    .row
      .col.col-3
        a(href="#")
          .service
            .service__picture
              img(src="img/services/svc-4@2x.jpg")
            .service__readmore
              button(type="button")
            .service__title Гормональный <br>фон
      .col.col-3
        a(href="#")
          .service
            .service__picture
              img(src="img/services/svc-5@2x.jpg")
            .service__readmore
              button(type="button")
            .service__title Качество <br>сна
      .col.col-3
        a(href="#")
          .service
            .service__picture
              img(src="img/services/svc-6@2x.jpg")
            .service__readmore
              button(type="button")
            .service__title Коррекция <br>веса
      .col.col-3
        a(href="#")
          .service
            .service__picture
              img(src="img/services/svc-7@2x.jpg")
            .service__readmore
              button(type="button")
            .service__title Психо-эмоциональное <br>состояние
    .row.loadmore
      .col.col-12.txt-center
        a.btn.btn_gold(href="#") Показать всё

section.section.section_team
  .container
    .section__title
      h2.ttl.ttl_h2 Наша команда
    .team-slider
      .team-slider__slider
        .team__item
          img(src="img/slide@2x.jpg")
        .team__item
          img(src="img/slide@2x.jpg")
        .team__item
          img(src="img/slide@2x.jpg")
        .team__item
          img(src="img/slide@2x.jpg")
        .team__item
          img(src="img/slide@2x.jpg")
        .team__item
          img(src="img/slide@2x.jpg")
      .team-slider__arrows
        .team-slider__caption
          .label Директор
          .ttl.ttl_h3 Горенко Даниил
          a.btn.btn_gold.btn_more(href="#")
            span Подробнее 
            i.icon.icon_arrow
        button.team-slider__arrow.team-slider__arrow_prev
        button.team-slider__arrow.team-slider__arrow_next

section.section.section_video
  .container
    .section__title
      h2.ttl.ttl_h2 Видео с нами
    .row 
      .col.col-4
        .video-list__item
          .video__frame
            .video__play
              button.btn.btn_gold.btn_play
          .video__title
            .video__channel
            div
              div.ttl.ttl_h4 Доброе утро. Фрагмент выпуска от 17.09.2019
              a(href="https://www.1tv.ru/-/gfsux" target="_blank") https://www.1tv.ru/-/gfsux
      .col.col-4
        .video-list__item
          .video__frame
            .video__play
              button.btn.btn_gold.btn_play
          .video__title
            .video__channel
            div
              div.ttl.ttl_h4 Доброе утро. Фрагмент выпуска от 17.09.2019
              a(href="https://www.1tv.ru/-/gfsux" target="_blank") https://www.1tv.ru/-/gfsux
      .col.col-4
        .video-list__item
          .video__frame
            .video__play
              button.btn.btn_gold.btn_play
          .video__title
            .video__channel
            div
              div.ttl.ttl_h4 Доброе утро. Фрагмент выпуска от 17.09.2019
              a(href="https://www.1tv.ru/-/gfsux" target="_blank") https://www.1tv.ru/-/gfsux
    .row.video__youtube
      .col.col-12
        img(src="./img/youtube-bg@2x.png")
section.section.section_how-to-work
  .container
    .section__title
      h2.ttl.ttl_h2 Как это работает
      .subttl Смотрите в последовательности от регистрации до консультации у врача
    .row
      .col.col-4
        div
          div
          div.ttl.ttl_h3 Простая регистрация
          div.txt Вы мгновенно имеете доступ к услугам, получив код подтверждения на свой номер телефона!
      .col.col-4
        div
          div
          div.ttl.ttl_h3 Оплата консультации
          div.txt Нажмите на кнопку «Записаться на консультацию» и выберите подходящий формат услуги. Для оплаты Вы будете перенаправлены
      .col.col-4
        div
          div
          div.ttl.ttl_h3 Заполнение анкеты
          div.txt Вам будет предложено заполнить анкету здоровья первичного приема. После заполнения анкеты первичного приема необходимо
    .row
      .col.col-4
        div
          div
          div.ttl.ttl_h3 Анализ истории болезни
          div.txt Доктор знакомится с Вашей анкетой и анализами в течение 2-х рабочих суток, не считая дня заполнения анкеты, с момента их получения
      .col.col-4
        div
          div
          div.ttl.ttl_h3 Дата консультации
          div.txt После получения всех необходимых результатов первичных/повторных анализов и/или дополнительных обследований назначается дата
      .col.col-4
        div
          div
          div.ttl.ttl_h3 Прием у врача
          div.txt Письменные рекомендации. В назначенный день доктор направляет письменные рекомендации в развернутом виде.

section.section.section_how-to-work
  .container
    .section__title
      h2.ttl.ttl_h2 Как это работает
    .row
      .col.col-4
      .col.col-4
      .col.col-4