section.section.section_promo
  .container.container_flex
    .row.row_flex
      .col.col-5
        div
          .ttl.ttl_promo Консультации по гормональному здоровью <span class="gold">онлайн</span> доктора И.Ю. Магеря
          .btn-box
            a.btn(href="#")
              i.icon.icon_consultation
              span Виды консультаций
            a.btn.btn_gold(href="#")
              i.icon.icon_phone-white
              span Связаться с нами
      .col.col-7
        .msg.msg_1 Врач эксперт 1-ого канала в передаче «<span class="gold">доброе утро</span>»
        .msg.msg_2 
          div
            .insta
            div Илья Магеря, известный эндокринолог #1 в области создания благоприятных условий для зачатия и вынашивания ребёнка
        .msg.msg_3 Создатель фонда студентов <span class="gold">M-students</span>
        .msg.msg_4 Автор приложений <a href="#" target="_blank">Мамагеря</a> и <a href="#" target="_blank">Профилактикум</a>

section.section.section_services
  .container
    .section__title
      h2.ttl.ttl_h2 Список заболеваний, которые <br><span class="gold">мы помогаем решить</span>
    .row
      .col.col-3
        a(href="#")
          .service
            .service__picture
              img(src="img/services/svc-1@2x.jpg")
            .service__readmore
              button(type="button")
            .service__title Кожные <br>заболевания

      .col.col-6
        a(href="#")
          .service
            .service__picture
              img(src="img/services/svc-2@2x.jpg")
            .service__readmore
              button(type="button")
            .service__title Консультация в области зачатие, вынашивание <br>и рождение здорового ребенка
      .col.col-3
        a(href="#")
          .service
            .service__picture
              img(src="img/services/svc-3@2x.jpg")
            .service__readmore
              button(type="button")
            .service__title Энергия
    .row
      .col.col-3
        a(href="#")
          .service
            .service__picture
              img(src="img/services/svc-4@2x.jpg")
            .service__readmore
              button(type="button")
            .service__title Гормональный <br>фон
      .col.col-3
        a(href="#")
          .service
            .service__picture
              img(src="img/services/svc-5@2x.jpg")
            .service__readmore
              button(type="button")
            .service__title Качество <br>сна
      .col.col-3
        a(href="#")
          .service
            .service__picture
              img(src="img/services/svc-6@2x.jpg")
            .service__readmore
              button(type="button")
            .service__title Коррекция <br>веса
      .col.col-3
        a(href="#")
          .service
            .service__picture
              img(src="img/services/svc-7@2x.jpg")
            .service__readmore
              button(type="button")
            .service__title Психо-эмоциональное <br>состояние
    .row.loadmore
      .col.col-12.txt-center
        a.btn.btn_gold(href="#") Показать всё

section.section.section_team
  .container
    .section__title
      h2.ttl.ttl_h2 Наша команда
    .team-slider
      .team-slider__slider
        .team__item
          img(src="img/slide@2x.jpg")
        .team__item
          img(src="img/slide@2x.jpg")
        .team__item
          img(src="img/slide@2x.jpg")
        .team__item
          img(src="img/slide@2x.jpg")
        .team__item
          img(src="img/slide@2x.jpg")
        .team__item
          img(src="img/slide@2x.jpg")
      .team-slider__arrows
        .team-slider__caption
          .label Директор
          .ttl.ttl_h3 Горенко Даниил
          a.btn.btn_gold.btn_more(href="#")
            span Подробнее 
            i.icon.icon_arrow
        button.team-slider__arrow.team-slider__arrow_prev
        button.team-slider__arrow.team-slider__arrow_next

section.section.section_video
  .container
    .section__title
      h2.ttl.ttl_h2 Видео с нами
    .row 
      .col.col-4
        .video-list__item
          .video__frame
            .video__play
              button.btn.btn_gold.btn_play
          .video__title
            .video__channel
            div
              div.ttl.ttl_h4 Доброе утро. Фрагмент выпуска от 17.09.2019
              a(href="https://www.1tv.ru/-/gfsux" target="_blank") https://www.1tv.ru/-/gfsux
      .col.col-4
        .video-list__item
          .video__frame
            .video__play
              button.btn.btn_gold.btn_play
          .video__title
            .video__channel
            div
              div.ttl.ttl_h4 Доброе утро. Фрагмент выпуска от 17.09.2019
              a(href="https://www.1tv.ru/-/gfsux" target="_blank") https://www.1tv.ru/-/gfsux
      .col.col-4
        .video-list__item
          .video__frame
            .video__play
              button.btn.btn_gold.btn_play
          .video__title
            .video__channel
            div
              div.ttl.ttl_h4 Доброе утро. Фрагмент выпуска от 17.09.2019
              a(href="https://www.1tv.ru/-/gfsux" target="_blank") https://www.1tv.ru/-/gfsux
    .row.video__youtube
      .col.col-12
        img(src="./img/youtube-bg@2x.png")

section.section.section_how-to-work
  .container
    .section__title
      h2.ttl.ttl_h2 Как это работает
      .subttl Смотрите в последовательности от регистрации до консультации у врача
    .row
      .col.col-4
        .step
          .step__icon
          .step__ttl.ttl.ttl_h4 Простая регистрация
          .txt Вы мгновенно имеете доступ к услугам, получив код подтверждения на свой номер телефона!
      .col.col-4
        .step
          .step__icon
          .step__ttl.ttl.ttl_h4 Оплата консультации
          .txt Нажмите на кнопку «Записаться на консультацию» и выберите подходящий формат услуги. Для оплаты Вы будете перенаправлены
      .col.col-4
        .step
          .step__icon
          .step__ttl.ttl.ttl_h4 Заполнение анкеты
          .txt Вам будет предложено заполнить анкету здоровья первичного приема. После заполнения анкеты первичного приема необходимо
    .row
      .col.col-4
        .step
          .step__icon
          .step__ttl.ttl.ttl_h4 Анализ истории болезни
          .txt Доктор знакомится с Вашей анкетой и анализами в течение 2-х рабочих суток, не считая дня заполнения анкеты, с момента их получения
      .col.col-4
        .step
          .step__icon
          .step__ttl.ttl.ttl_h4 Дата консультации
          .txt После получения всех необходимых результатов первичных/повторных анализов и/или дополнительных обследований назначается дата
      .col.col-4
        .step
          .step__icon
          .step__ttl.ttl.ttl_h4 Прием у врача
          .txt Письменные рекомендации. В назначенный день доктор направляет письменные рекомендации в развернутом виде.
    .row.loadmore
      .col.col-12.txt-center
        a.btn.btn_gold(href="#") Скачать инструкцию

section.section.section_how-to-work.section_how-to-work_list
  .container
    .item
      .col-5
        .ttl.ttl_h3 Подход к лечению
        .txt
          p Ведущую роль в восстановлении и поддержании своих пацеентов, клиника уделяет <b>микро и макро элементам</b> позволяющим восстановить биохимические и гормональные показатели.
          p А если этого бывает недостаточно, в ряде случаев, подключается <b>лекарственная</b> и <b>гармозаместительная</b> терапия. На основании биохимических показателей крови врач дает индивидуальные рекомендации по сбалансированному питанию, физической нагрузке, гигиене, витаминотерапии и образу жизни.
      .img
        .img-icon
        img(src="./img/doctor@2x.jpg")
    .item
      .img
        .img-icon
        img(src="./img/30-days@2x.jpg")
      .col-5
        .ttl.ttl_h3 30 дней сопровождения
        .txt
          p На протяжении 30 дней после получения рекомендаций, <b>врач отвечает на все вопросы пациентов</b>, для пациентов забеременневших в ходе или после консультации дается 60 дней и более активной наблюдение.
    .item
      .col-5
        .ttl.ttl_h3 Расширенные рекомендации
        .txt
          p Вы получаете подробные инструкции с видео объяснением выявленных факторов рисков по вашему здоровью.  Индивидуальную программу питания. Программу витаминотерапии и набор физических упражнений.
      .img
        .img-icon
        img(src="./img/profile@2x.jpg")
    .item
      .img
        .img-icon
        img(src="./img/online@2x.jpg")
      .col-5
        .ttl.ttl_h3 Без очередей
        .txt
          p Услуга предполагает собой удобный онлайн формат в чате в личном кабинете пациента на сайте или в мобильном приложении. Подробные рекомендации включает в себя видео с объяснениями факторов риска, комментарии по анализам, ссылки на препараты, программу сбалансированного питания, упражнения.
          p Все данные надежно защещены и хранятся в доступной для клиента медицинской карте со всеми рекомендациями и динамикой сданых анализов.

section.section.section_feedback
  .container
    .feedback__wrapper
      .col-9.feedback
        .feedback__avatar
          img(src="./img/photo-svetlana@2x.png")
        .feedback__content
          .ttl.ttl_h3 Моисеева Светлана <br>ответит на ваши вопросы
          .subttl Запишитесь на консультацию, мы вам перезвоним в течении часа.
          .feedback__btn-box
            a.btn(href="", target="_black") Позвонить сейчас
            a.btn(href="", target="_black") Написать в WhatsApp

section.section.section_profilacticum
  .container
    .row
      .col.col-12
        .item.item_profilacticum
          .col-5
            .ttl.ttl_h3 Консультация без оплаты
            .txt
              p Наша клиника разработала мобильное приложение, которое анализирует биометрические и биохимичские показатели крови и умееть выявлять факторы риска по каждому анализу , давать рекомендации по питанию, физическим нагрузками и предлагать витаминотерапия для коррекции покатезей при лекгих паталогиях. Сайт приложения <a href="http://profilaktikum.com">profilaktikum.com</a>
              p Карманный эндокринолог по ссылке ниже:
              .btn-box
                a.btn.btn_gold(href="", target="_black") App Store
                a.btn.btn_gold(href="", target="_black") Play Market
          .img
            img(src="./img/app@2x.png")

section.section.section_instagram
  .container
    .instagram__wrapper
      .col-9.instagram
        .instagram__content
          .ttl.ttl_h3 Благотворительные консультации
          .subttl Благотворительные консультации каждый <br>вторник в прямом эфире instagram
          .instagram__btn-box
            a.btn(href="", target="_black") magerya_endocrinolog_

section.section.section_faqs
  .container
    .section__title
      h2.ttl.ttl_h2 Нас часто спрашивают
    .row
      .col.col-12
        .faqs
