.page
  .page__header.page__header_team
    .container
      .page__title
        .ttl.ttl_promo Корнеев Сергей Сергеевич
        .subttl  Уролог-андролог, главный врач
        .btn-box
          a.btn(href="https://instagram.com/korneev_androlog", target="_blank")
            i.icon.icon_inst
            span Instagram
          //- a.btn(href="tel:+79858911911")
          //-   i.icon.icon_phone
          //-   span 8 985 8 911 911
      .page__img
        img(src="./img/pages/korneev.png")
  .page__body
    .container
      h3.ttl.ttl_h3 Опыт
      p <b>2009 г.</b> — окончил ГОУ ВПО «Сибирский государственный медицинский университет Федерального агентства по здравоохранению и социальному развитию», г. Томск, по специальности педиатрия.
      p <b>2009—2010 г.г.</b> — интернатура по специальности «Хирургия», в ГОУ ВПО «Сибирский государственный медицинский университет Федерального агентства по здравоохранению и социальному развитию», г. Томск.
                  