.page
  .page__header.page__header_article
    .container
      .page__title
        .ttl.ttl_promo Снизить вес
        .subttl Экспертная компетенция в области <br>психоэндокринологии
  .page__body
    .container
      h3.ttl.ttl_h3 Опыт

  .page__feedback
    .container
      .row
        .col.col-12.feedback
          .feedback__avatar
            img(src="./img/photo-nastia@2x.png")
          .feedback__content
            .ttl.ttl_h3 Моисеева Светлана <br>ответит на ваши вопросы
            .subttl Запишитесь на консультацию, мы вам перезвоним в течении часа.
      .row
        .col.col-10
          .feedback__btn-box
            a.btn(href="", target="_black")
              i.icon.icon_whatsapp
              span Позвонить сейчас
            a.btn(href="", target="_black")
              i.icon.icon_viber
              span Позвонить сейчас
            a.btn(href="tel:+79858911911")
              i.icon.icon_phone
              span 8 985 8 911 911
            a.btn(href="tel:+79628797439")
              i.icon.icon_phone_2
              span 8 962 87 97 439