.page
  .page__header.page__header_team
    .container
      .page__img
        img(src="./img/pages/magerya.png")
      .page__title
        .ttl.ttl_promo Магеря Илья Юрьевич
        .subttl Эндокринолог
        .btn-box
          a.btn(href="https://www.instagram.com/magerya_endocrinolog_/", target="_blank")
            i.icon.icon_inst
            span Instagram
          //- a.btn(href="tel:+79858911911")
          //-   i.icon.icon_phone
          //-   span 8 985 8 911 911
  .page__body
    .container
      h3.ttl.ttl_h3 Опыт
      p <b>2009 г.</b> &ndash; ГОУ ВПО «Сибирский государственный медицинский университет Федерального агентства по здравоохранению и социальному развитию», г. Томск, по специальности «педиатрия».
      p <b>2009 - 2011 гг.</b> &ndash; обучение в клинической ординатуре по специальности «анестезиология и реанимация» в Красноярском государственном медицинском университете.
      p <b>2011 - 2012 г.г.</b> &ndash; интернатура по специальности «эндокринология» в ГОУ ВПО.
      p <b>2012 г.</b> &ndash; получение квалификации в ГОУ ВПО «Сибирский государственный медицинский университет Федерального агентства по здравоохранению и социальному развитию», г. Томск, на ведение профессиональной деятельности в сфере детской эндокринологии.

      h3.ttl.ttl_h3 Достижения
      .list-box
        .box
          div
            .img
              img(src="./img/pages/img.png")
          div
            div.ttl Врач-эксперт передачи «Доброе утро» на Первом канале
            a(href="https://www.1tv.ru/shows/dobroe-utro/narodnaya-medicina/boremsya-s-otekami-dobroe-utro-fragment-vypuska-ot-07-06-2019") https://www.1tv.ru/shows/dobroe-utro
        .box
          div
            .img
              img(src="./img/pages/img1.png")
          div
            div.ttl Создатель фонда студентов М-students
        .box
          div
            .img
              img(src="./img/pages/img2.png")
          div
            div.ttl Разработал приложение для беременных <a href="https://apps.apple.com/us/app/мамагеря/id1483614789" target="_blank">МаМагеря</a>, которое входит в 5-ку разделе «Здоровье и фитнес»
        .box
          div
            .img
              img(src="./img/pages/img3.png")
          div
            div.ttl #1 в создании благоприятных условий для зачатия и рождения ребёнка
        .box
          div
            .img
              img(src="./img/pages/img4.png")
          div
            div.ttl Заложил собственный алгоритм в приложение превентивной медицины «<a href="http://www.profilaktikum.com" target="_blank">ПрофилактикУм</a>»