doctype html
html
  include _inc/head
  body
    a.call-sign-main(href="tel:+79182971555")
      img(src="img/call.png")
    .layout
      include _inc/header
      main.main
        include _inc/controls_page
    include _inc/footer
